
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
    border:2px solid black ;
    background: #ff00eb;
}
.navbar>img{
    border-radius: 20px;
    height: auto;
    width: 150px;
}

body{
    font-family: Inter;

}
main{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
main>h2{
    text-align: center;
    border:2px solid black ;
}


.produit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border:2px solid black ;
    padding: 10px;
    background: forestgreen;
}
.produit>img{
    height: 20rem;
    width: 25rem;
}